{% extends "base.html" %}

{% block title %}about{% endblock %}
{% block heading %}about journal<span style="color:red;font-size:0.5em;">alpha</span>{% endblock %}

{% block content %}
[clear your mind/organize your thoughts]<p></p>
<span style="color:red">we aim for authentic</span> is an interative project<br>
journal is not a social network. it is not intended for a large audience<br>
journal is intended to be a public/private collaborative blog for a small group of people with common interests<br>
not everything in life should be shared - if you like, you can use journal forever without making a public post (you can post privately or anonymously)<br>
this project is a work in progress. in the end (if there is one) it may look and act completely different than it does now
<p>
this project is open source / source is hosted at <a href="http://github.com/grmnygrmny/journal">github.com/grmnygrmny/journal</a>
<p>
if you've found a bug (there are plenty) please email it to me <a href="mailto:contact@grmnygrmny.com">here</a>


{% endblock %}
