{% extends "base.html" %}

{% block title %}change password{% endblock %}
{% block heading %}change password{% endblock %}

{% block content %}

<form action="" method="post">
        <div class="field">
        
        <div class="reg_field"><label for="old_password">old_password:</label></div>
        {{ form.old_password }}
        
        {% if form.old_password.errors %}
            {% for error in form.old_password.errors %}
                <span class="error_msg">
                {{ error }}<br>
                </span>
            
            {% endfor %}
        {% endif %}
        </div>
        <div class="field">
        
        <div class="reg_field"><label for="new_password1">new password:</label></div>
        {{ form.new_password1 }}
        
        {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
                <span class="error_msg">
                {{ error }}<br>
                </span>
            
            {% endfor %}
        {% endif %}
        </div>
        <div class="field">
        <div class="reg_field"><label for="new_password2">re-enter your new password:</label></div>
        {{ form.new_password2 }}
        
        {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
                <span class="error_msg">
                {{ error }}<br>
                </span>
            
            {% endfor %}
        {% endif %}
        </div>
        <input type="submit" value="change">
</form>
{% endblock %}
