{% extends "base.html" %}

{% block title %}change password{% endblock %}
{% block heading %}change password{% endblock %}

{% block content %}

<form action="" method="post">
        
        {% if error %}
        	<span class="error_msg">
            {{ error }}<br>
            </span>
        {% endif %}
        
        <div class="field">
        <div class="reg_field"><label for="current_password">current_password:</label></div>
        <input type="password" name="current_password"></input>
        </div>
        
        <div class="field">
        <div class="reg_field"><label for="new_password1">new password:</label></div>
        <input type="password" name="new_password1"></input>
        </div>
        
        <div class="field">
        <div class="reg_field"><label for="new_password2">re-enter your new password:</label></div>
        <input type="password" name="new_password2"></input>
        </div>
        
        <input type="submit" value="change_password">
</form>
{% endblock %}
