{% extends "base.html" %}


{% block title %}edit_profile | journal{% endblock %}

{% block heading %}edit_profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	<form action="" method="post">
	<span style="color:red;">note: remember the http:// in links</span><p>
		{% for variable,value in list %}
			<div class="field">
	        <div class="reg_field">
    	    <label for="{{ variable }}">{{ variable }}:</label>
        	</div>
        	<input type="text" name="{{ variable }}" value="{{ value }}">
        	</input>
			</div>
		{% endfor %}

        <input type="submit" value="submit">
{% else %}
	You are not allowed to edit your profile unless you are signed in.
{% endif %}
{% endblock %}

