{% extends "base.html" %}


{% block title %}you{% endblock %}

{% block heading %}
{{ username }}
{% endblock %}

{% block content %}
{% if user.username == username %}
<a href="{% url main.views.edit_profile user.username %}">
edit profile
</a><br>
{% endif %}
<div class="profile_left">
full name: {{ fullname }}<br>
city: {{ city }}<br>
{% if website_url %}
	<a href="{{ website_url }}">{{ website_url }}</a><br>
{% endif %}
{% if facebook_url %}
	<a href="{{ facebook_url }}">facebook</a><br>
{% endif %}
{% if twitter_url %}
	<a href="{{ twitter_url }}">twitter</a><br>
{% endif %}
{% if email %}
    <a href="{{ email }}">email</a><br>
{% endif %}
</div>
<div class="profile_right">
<img src="/media/{{ profile_image.profile_image.name }}"><br>
{% if user.username == username %}
<a href="{% url main.views.upload_avatar %}">
change image
</a>
{% endif %}
</div>
<div style="font-size:2em;margin-bottom:5px;">
posts
</div>
<!-- Posts  -->
	{% for post in your_posts.object_list %}
		{% if post.anonymous %}
			\anonymous
		{% else %}
			\{{ post.username }}
		{% endif %}
		 [{{ post.created|date:"H:i d/m/y" }}]
		 {% if post.private %}
        <span style="color:blue;">private</span>
        {% endif %}<br>
		{% if post.username == user.username %}
			<div style="margin-left:10px;font-size:0.8em;">
		    <a href=" {% url main.views.edit post.pk %}?next={{ current_path|urlencode }}">edit</a>
		    <a href=" {% url main.views.delete post.pk %}?next={{ current_path|urlencode }}">delete</a>
		    </div>
        {% endif %}
		<div class="post_body">{{ post.body|linebreaksbr }}
		<div class="commentlink">&lt;<a href="{% url main.views.comments_page post.pk %}">comments</a>&gt;</div></div>
	{% endfor %}

<!-- Next/Prev page links  -->
{% if your_posts.object_list and your_posts.paginator.num_pages > 1 %}
<div class="pagination" style="margin-top: 20px; text-align:center;padding-bottom:10px; ">
	<span class="step-links">
		{% if your_posts.has_previous %}
			<a href= "?page={{ your_posts.previous_page_number }}"> &lt;&lt; newer entries</a>
		{% endif %}
        {% if your_posts.has_next %}
            <a href="?page={{ your_posts.next_page_number }}">older entries &gt;&gt; </a>
        {% endif %}
            </span>
        </div>
        {% endif %}


{% endblock %}

