{% extends "base.html" %}


{% block title %}you | journal{% endblock %}

{% block heading %}
{% if user.username == username %}
you
{% else %}
{{ username }}
{% endif %}
{% endblock %}

{% block content %}
{% if user.username == username %}
<a href="http://weaimforauthentic.com/journal/user/{{ user.username }}/edit/">
edit profile
</a><br>
{% endif %}
<div class="profile_left">
full_name: {{ fullname }}<br>
city: {{ city }}<br>
{% if website_url %}
	<a href="{{ website_url }}">{{ website_url }}</a><br>
{% endif %}
{% if facebook_url %}
	<a href="{{ facebook_url }}">facebook</a><br>
{% endif %}
{% if twitter_url %}
	<a href="{{ twitter_url }}">twitter</a><br>
{% endif %}
{% if email %}
    <a href="mailto:{{ email }}">email</a><br>
{% endif %}
</div>
<div class="profile_right">
{% if profile_image.profile_image.name %}
<img src="/journal/media/{{ profile_image.profile_image.name }}"><br>
{% endif %}
{% if user.username == username %}
<a href="http://weaimforauthentic.com/journal/avatar/">
<span style="margin-top:3px;font-size:0.8em;">change profile image</span>
</a>
{% endif %}
</div>
<div style="font-size:2em;margin-bottom:5px;">
posts
</div>
<!-- Posts  -->
	{% for post in your_posts.object_list %}
		\ {{ post.username }}
		 [{{ post.created|date:"H:i d/m/y" }}]
		{% if post.private %}
        <span style="color:blue;">private</span>
        {% endif %}
        {% if post.anonymous %}
        <span style="color:blue;"> anonymous</span>
        {% endif %}
        {% if post.username == user.username %}
            <div style="margin-left:10px;font-size:0.8em;">
            <a href="http://weaimforauthentic.com/journal/posts/{{ post.pk }}/edit/?next=/journal{{ current_path|urlencode }}">edit</a>
            <a href="http://weaimforauthentic.com/journal/posts/{{ post.pk }}/delete/?next=/journal{{ current_path|urlencode }}">delete</a>
            </div>
            
        {% endif %}
        {% if post.audio %}
        <div style="padding-top:5px;">
        <audio controls="controls">
        	<source src="{{ post.audio }}" type="audio/mp3">
        	<span style="font-size:0.5em;color:red;">use a newer browser that supports html5 audio please</span>
        </audio>
        </div>
        {% endif %}
        <div class="post_body">
        {% autoescape off %}
        {{ post.body|linebreaksbr|urlize }}
        {% endautoescape %}
        </div>
		{% if post.image %}
		<div class="post_image"><img src="/journal/media/{{ post.image.name }}"></div>
		{% endif %}
        <div class="commentlink"><a href="http://weaimforauthentic.com/journal/posts/{{ post.pk }}/">comments</a></div>
        
	{% endfor %}

<!-- Next/Prev page links  -->
{% if your_posts.object_list and your_posts.paginator.num_pages > 1 %}
<div class="pagination" style="margin-top: 20px; text-align:center;padding-bottom:10px; ">
	<span class="step-links">
		{% if your_posts.has_previous %}
			<a href= "?page={{ your_posts.previous_page_number }}"> &lt;&lt; newer entries</a>
		{% endif %}
        {% if your_posts.has_next %}
            <a href="?page={{ your_posts.next_page_number }}">older entries &gt;&gt; </a>
        {% endif %}
            </span>
        </div>
        {% endif %}


{% endblock %}

