{% extends "base.html" %}

{% block title %}create an account{% endblock %}
{% block heading %}create an account{% endblock %}

{% block content %}
<span style="color:red">please keep your username lower case, upper case and number.</span>
<form action="" method="post">
        <div class="field">
        
        <div class="reg_field"><label for="username">username:</label></div>
        {{ form.username }}
        
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <span class="error_msg">
                {{ error }}<br>
                </span>
            
            {% endfor %}
        {% endif %}
        </div>
        <div class="field">
        
        <div class="reg_field"><label for="password1">password:</label></div>
        {{ form.password1 }}
        
        {% if form.password1.errors %}
            {% for error in form.password1.errors %}
                <span class="error_msg">
                {{ error }}<br>
                </span>
            
            {% endfor %}
        {% endif %}
        </div>
        <div class="field">
        <div class="reg_field"><label for="password2">re-enter your password:</label></div>
        {{ form.password2 }}
        
        {% if form.password2.errors %}
            {% for error in form.password2.errors %}
                <span class="error_msg">
                {{ error }}<br>
                </span>
            
            {% endfor %}
        {% endif %}
        </div>
        <input type="submit" value="create">
</form>
{% endblock %}
